* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  direction: rtl;
  font-family: Tahoma, sans-serif;
  background-color: #f8f8f8;
  color: #3f3f46;
  line-height: 1.6;
  min-width: 320px;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
  cursor: pointer;
}

input {
  font-family: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: #fff;
  padding: 10px 5%;
  box-sizing: 0 2px 5px red;
}
/* GENERAL */
.header,
.navigation-container,
.hero,
.categories,
footer {
  width: min(100% - 32px, 1280px);
  margin-inline: auto;
}
