* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  direction: rtl;
  font-family: Tahoma, sans-serif;
  background-color: white;
  color: #3f3f46;
  line-height: 1.6;
  min-width: 320px;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
  cursor: pointer;
}

input {
  font-family: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: #fff;
  padding: 10px 5%;
  box-sizing: 0 2px 5px red;
}
/* GENERAL */
.header,
.navigation-container,
.hero,
.categories,
footer {
  width: min(100% - 32px, 1280px);
  margin-inline: auto;
}
/* HEADER */
header {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgb(186, 186, 186);
}

.header {
  min-height: 80px;

  display: flex;
  align-items: center;
  gap: 24px;
  padding: 15px 0;
}

/* LOGO */
.nav {
  width: 150px;
  height: auto;
}
/* SEARCH BOX */
.search {
  flex: 1;

  display: flex;
  align-items: center;

  max-width: 650px;
  height: 48px;

  background-color: rgb(235, 229, 229);
  border-radius: 50px;

  overflow: hidden;
}

.search input {
  flex: 1;

  width: 100%;
  height: 100%;

  border: none;
  outline: none;

  padding: 0 18px;

  background-color: rgb(235, 229, 229);
  color: black;
  font-size: 14px;
}

.search input::placeholder {
  color: black;
}

.search input:focus {
  background-color: #ebedf0;
}

.search button {
  height: 100%;
  padding: 0 20px;
  border: none;
  background-color: rgb(216, 44, 44);
  color: white;
  font-size: 14px;
}

.search button:hover {
  background-color: rgb(197, 194, 194);
}
/* LOGIN BUTTON  */
.user-action {
  display: flex;
  align-items: center;
  gap: 18px;
}

.login-btn {
  padding: 10px 16px;

  border: 1px solid #d4d4d8;
  border-radius: 6px;

  background-color: white;
  color: black;

  font-size: 13px;
}

.login-btn:hover {
  border-color: rgb(216, 44, 44);
  color: rgb(216, 44, 44);
}

.shopping-cart {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.shopping-cart:hover {
  background-color: red;
  border-radius: 6px;
}
/* NAVIGATION */

.navigation {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgb(186, 186, 186);
}

.navigation-container {
  min-height: 50px;
  display: flex;
  align-items: center;
  gap: 25px;
}

.navigation-container button {
  height: 50px;
  padding: 0 5px;
  border: none;
  background-color: white;

  color: #3f3f46;

  font-size: 14px;
  font-weight: 700;

  border-bottom: 2px solid transparent;
}

.navigation-container button:hover {
  color: rgb(216, 44, 44);
  border-bottom-color: rgb(216, 44, 44);
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 25px;
  height: 50px;
}

.nav-item {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-item a {
  display: flex;
  align-items: center;
  height: 100%;
  color: #71717a;
  font-size: 15px;
  border: none;
  border-bottom: 2px solid transparent;
}

.nav-item a:hover {
  border-bottom-color: rgb(216, 44, 44);
  color: rgb(216, 44, 44);
}
/* HERO */

.hero {
  position: relative;
  margin-top: 20px;
  height: 400px;
  border-radius: 16px;
  overflow: hidden;
  background-color: white;
}

.hero-slider {
  position: absolute;

  width: 100%;
  height: 100%;

  opacity: 0;
}

.hero-slider:first-child {
  opacity: 1;
}

.hero-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-controls {
  position: absolute;

  bottom: 20px;
  right: 20px;

  display: flex;

  gap: 8px;
}

.slider-controls button {
  width: 42px;
  height: 42px;

  border: none;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.9);

  color: #3f3f46;

  font-size: 12px;
}

.slider-controls button:hover {
  background-color: rgb(216, 44, 44);
  color: white;
}
/* CATEGORIES */

.categories {
  margin-top: 40px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.section-header {
  width: 100%;
  text-align: right;
}

.section-header h2 {
  color: #3f3f46;
  font-size: 22px;
  font-weight: 500;
}

.category-list {
  min-width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 16px;
  border: 1px solid transparent;
  border-radius: 10px;
}

.category-list:hover {
  transform: translateY(-4px);
  border-color: #939397;
}

.category-list img {
  width: 130px;
  height: 130px;
}

.category-list h3 {
  color: #3f3f46;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

/* FOOTER */

footer {
  margin-top: 80px;
  padding-top: 40px;
  border-top: 1px solid #e4e4e7;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding-bottom: 40px;
}

.footer-container section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.footer-container h3 {
  color: #4e4e51;
  font-size: 18px;
}

.footer-container a {
  color: #71717a;
  font-size: 15px;
}

.footer-container a:hover {
  color: rgb(216, 44, 44);
}

.footer-bottom {
  padding: 20px 0;
  border-top: 1px solid #e4e4e7;
  text-align: center;
}

.footer-bottom p {
  color: #71717a;
  font-size: 15px;
}

/* login page */

.homepage-hidden {
  display: none;
}

.login-page {
  display: flex;
  min-height: 100vh;

  align-items: center;
  justify-content: center;

  padding: 24px;

  background-color: white;
}

.login-box {
  width: 100%;
  max-width: 400px;
  padding: 32px;

  border: 1px solid grey;
  border-radius: 12px;

  background-color: #f6f8fb;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 1);
}

.login-header {
  margin-bottom: 28px;
}

.login-header h1 {
  margin-bottom: 12px;

  color: #3f3f46;

  font-size: 20px;
  font-weight: 700;
}

.login-header p {
  color: #5f5f65;
  font-size: 15px;
}

.login-form {
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;

  gap: 8px;

  margin-bottom: 20px;
}

.form-group label {
  color: #3f3f46;

  font-size: 14px;
  font-weight: 600;
}

.form-group input {
  height: 48px;
  padding: 0 14px;
  border: 1px solid #a1a1aa;
  border-radius: 8px;
  outline: none;
  background-color: #ffffff;
  color: #3f3f46;
  font-size: 14px;
}

.form-group input::placeholder {
  color: #3f3f46;
}

.form-group input:focus {
  border-color: red;
  box-shadow: 0 4px 20px rgb(128, 8, 8);
}

.login-submit {
  width: 100%;
  height: 48px;

  border: none;
  border-radius: 8px;

  background-color: #ef394e;
  color: white;

  font-size: 14px;
  font-weight: 700;

  cursor: pointer;
}

.login-submit:hover {
  background-color: #d92d42;
}

.login-terms {
  margin-top: 24px;
  color: #71717a;
  font-size: 11px;
  text-align: center;
}

.back-home {
  display: flex;
  cursor: pointer;
  margin-top: 20px;
  color: #71717a;
  font-size: 12px;
  text-align: center;
}

.back-home:hover {
  color: #ef394e;
}
